/* MOBILE DIMENTIONS */

.product {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	border: 1px solid black;
	border-radius: 10px;
	flex-basis: 60%;
	position: relative;
	overflow: hidden;
	margin: 15px;
	padding: 20px;
}

.product-image {
	border: 1px solid black;
	height: 175px;
	width: 175px;
	background-repeat: no-repeat;
	background-size: cover;
}

/* TABLET DIMENTIONS */
@media screen and (min-width: 550px) {
	.product {
		flex-basis: 40%;
	}
}

/* DESKTOP DIMENTIONS */
@media screen and (min-width: 800px) {
	.product {
		flex-basis: 19%;
	}
}
