/* MOBILE DIMENTIONS */

.shop-section {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 25px;
}

.shop-title {
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}

/* TABLET DIMENTIONS */
@media screen and (min-width: 500px) {
	.shop-container {
		justify-content: space-evenly;
	}
}

/* DESKTOP DIMENTIONS */
@media screen and (min-width: 800px) {
}
