/* MOBILE DIMENTIONS */

.shop-section {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 25px;
}

.shop-title {
	margin: 10px 0px;
}

.shop-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 10px;
	width: 100%;
	height: auto;
	padding: 5px;
}

.product {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	flex-basis: 90%;
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px;
}

.product img {
	flex-basis: 90%;
	border-radius: 10px;
}

/* TABLET DIMENTIONS */
@media (min-width: 550px) {
}

/* DESKTOP DIMENTIONS */
@media (min-width: 800px) {
}
