/* MOBILE DIMENTIONS */

.cart-section {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 25px;
}

.cart-title {
	margin: 10px 0px;
}

.cart-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 10px;
	flex-basis: 100%;
	height: auto;
	padding: 5px;
}

.checkout-section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: gray;
	flex-basis: 100%;
	padding: 10px;
	border-radius: 10px;
}

/* TABLET DIMENTIONS */
@media screen and (min-width: 550px) {
	.cart-container {
		justify-content: space-evenly;
	}
}

/* DESKTOP DIMENTIONS */
@media screen and (min-width: 800px) {
}
