/* Setting up the border box model */
/* Using the border box method calculates the value of a contents width including the padding and the margin. */

html {
	box-sizing: border-box;
}

/* All elements before and after inherit box-sizing */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* turn off margin and padding, also setting font and size for the page */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* The values set in previous media queries will carry over into the next media query if they are not overriden */
/* I guess everything before 550px is considered mobile */

/* MOBILE DIMENTIONS */

/* for any screens that are 550px or wider (TABLET MEDIA QUERY) */
/* TABLET DIMENTIONS */
@media (min-width: 550px) {
}

/* this is our media query for any screen thats 800px or wider (DESKTOP MEDIA QUERY) */
/* DESKTOP DIMENTIONS */
@media (min-width: 800px) {
}
